{% include 'header.html.twig' %}
            <div class="pageHead">
                <h2>Welcome to shoeCONNECT</h2>
                <small class="text-muted">An Interactive Shoe Management System by styleTech Inc.</small>
            </div>
            <div class="mainSection">
                <h3>{{ store.getName }}</h3>

                {% if brands is not empty %}
                    <h4>Here are the Brands for this Store</h4>
                        <ul>
                            {% for brand in brands %}
                                <li>{{ brand.getName }}</li>
                            {% endfor %}
                        </ul>
                {% endif %}

                <h3>Add a Brand to {{ store.getName }}</h3>

                <form action="/add_brands" method="post" class="form-inline">
                    <div class="form-group">
                        <input id="store_id" type="hidden" name="store_id" value="{{ store.getId }}">
                        <label for="name">Brand Name</label>
                        <select id="brand_id" name="brand_id" type="text">
                            {% for brand in all_brands %}
                                <option value="{{ brand.getId }}">{{ brand.getName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Add Brand</button>
                    </div>
                </form>

                <form action="/stores/{{store.getId}}/edit" method="get" class="form-inline">
                    <button class="btn btn-success" type="submit">Edit this Store</button>
                </form>
            </div>

            <form action="/" method="get">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Go Home</button>
                </div>
            </form>

{% include 'footer.html.twig' %}
